
<div >
    <div style=" background-color: #d9f1fd;
    background-position: center;
    font-family: inherit;
    font-weight: 800;
    font-size: larger;
    position: fixed;
    bottom: 40%;
    right: 40%;
    border-style: outset;
    height: 25%;">
        <table>
            <tr>
                <th style="font-size: medium;
    font-style: normal;">
                    <label for="Username">Username</label>
                </th>
                <th>
                    <input id="Usernametxt" type="text" />
                </th>
                <!--<th>
                    <input id="UsernameBtn" type="button" value="Check" />
                </th>-->

            </tr>
            <tr>
                <th><label>Security Question</label> </th>
                <th>
                    <select id="SecurityQ">
                        <option>Whats your Favourite Color?</option>
                        <option>What was your place of birth?</option>
                        <option>What is your mothers maiden name?</option>
                        <option>What is the name of favourite teacher?</option>

                    </select>
                </th>

            </tr>
            <tr>
                <th>
                    <label for="SecurityAns">Security Answer</label>
                </th>
                <th>
                    <input id="SecurityAnstxt" type="text" />
                </th>
            </tr>
            <tr>
                <th>
                    <label for="Newpassword">New Password</label>
                </th>
                <th>
                    <input id="Newpassword" type="password" />
                </th>
            </tr>
            <tr>
                <th>
                    <label for="Confrmpassword">Confirm Password</label>
                </th>
                <th>
                    <input id="Confrmpassword" type="password" />
                </th>
            </tr>

        </table>
        
        <input class="btn btn-default" id="SubmitBtn" type="submit" value="submit" (click)="forgotpassword()" />
        <p id="msg"><span style="color:red">{{msg}}</span></p>
        </div>
</div>
