<html>
<head>
    <link rel="stylesheet" href="../../Content/StyleSheet2.css">
</head>
<body>
    <br /><br />
    <div style="color:navajowhite ; text-align: center;">
        <h1 >Thank You !  VISIT AGAIN!</h1>
        <br /><br />
        <a routerLink="/login"><img src="../../images/login.png" width="100" height="70"></a>
        <br /><br />
    </div>

    <div>
        <article>
            <h1>Follow us at</h1>
            <ul>
                <li>
                    <a href="https://www.facebook.com/Invincible-Store-1652945321393662/"><img src="../../Images/Facebook.png" alt="" width="60" height="60"></a>
                    <h2>Facebook</h2>
                <li>
                    <a href="https://twitter.com/theinvinciblesl"><img src="../../Images/twitter.png" alt="" width="60" height="60"></a>
                    <h2>Twitter</h2>
                <li>
                    <a href="https://www.instagram.com/theinvinciblesforiad/"><img src="../../Images/instagram.png" alt="" width="60" height="60"></a>
                    <h2>Instagram</h2>
            </ul>
        </article>
    </div>

</body>
</html>
